<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>About the application</h4>
      <p> -- This application developed using Angular II <a href="https://github.com/angular/angular-cli">
        Angular/CLI</a></p>
      <p> -- Spotify APIs <a href="https://developer.spotify.com/">spotify Developer</a></p>
      <p> -- Some help from other developers <a href="http://stackoverflow.com/">Click</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>About me</h4>
      <a href="https://nl.linkedin.com/in/armin-roshan-b34704ba"> <img src="../../../assets/linkedin.png" height="30" width="30"/> </a>
      <a href="https://www.facebook.com/armin.roushan?ref=bookmarks "> <img src="../../../assets/facebook.png" height="30" width="30"/> </a>
      <a href="https://github.com/armining/"> <img src="../../../assets/github.png" height="37" width="37"/></a>
    </div>
  </div>
</div>
